env3
instance
__pycache__/
bcrypt_test.py
test_passwords.txt
misc

*.zip
*.rar
*.db
!instance/*.db
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
