{% extends "base.html" %}

{% block body %}
<div>
    <form method="POST">
        <h2>Add New Article</h2>
        <label>Title</label><br>
        <input type="text" name="title_form" value="{{ article.title }}"><br><br>

        <label>Tags (Separate with commas)</label><br>
        <input type="text" name="tag_form" value="{{ article.tags }}"><br><br>

        <label>Text</label><br>
        <textarea rows="25" cols="150" name="content_form">{{ article.content }}</textarea><br><br>
        
        <input type="submit" method="POST" value="Update">
    </form>
</div>
{% endblock %}