{% extends 'base.html' %}


{% block head %}

{% endblock %}


{% block body %}
<div style="margin-bottom: 100px">
    {% if session['logged_in'] == True %}
        <h3 style="font-size:20px;">Welcome User: {{ session.username }}</h3>
        <h3 style="font-size:16px; margin-top:0px;"><a href="logout">Logout</a></h3>
    {% else %}
        <h3 style="font-size:20px;"><a href="login.html">Login</a></h3>
    {% endif %}
    <h2><a href="new_article.html">Add New Article</a></h2>
    
    {% for article in articles %}
        <div class="article_info">
            <!-- use a <span> every now and then -->
            <hr></hr>
            <div style="clear: both">
                <h3 style="float:left">{{ article.title }}</h3>

                <h3 class="delete_edit_buttons">
                    <a href="/delete/{{ article.id }}">delete</a>
                    |
                    <a href="/edit/{{ article.id }}">edit</a>
                </h3>

            </div>

            <div style="clear: both">
                
                <h4 style="float: left">{{ article.tags }}</h4>
                <h4 style="float: right">{{ article.date_created.strftime('%Y-%m-%d') }}</h4>
                
            </div>
        </div>
        <br>
        <div class="content_div">
            {{ article.content|safe }}
        </div>
        <!--<p>{{ article.content }}</p>-->
        
        <br>
        
    {% endfor %}
</div>

{% endblock %}