{% extends 'base_nocss.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
        
{% endblock %}



{% block body %}

<!--
<div class="bio_span">
    <h2>Title</h2>
    <p class="bio_content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis et consectetur quam, in luctus felis. Vivamus sed nisl eros. Morbi tincidunt dignissim congue. Quisque tincidunt sem nec nibh luctus, vitae porta enim sodales. Maecenas ac malesuada erat. Praesent eleifend euismod elit, ut tincidunt libero rhoncus vel. Pellentesque ut fermentum risus. Praesent sodales magna vitae tellus tristique, sit amet porta magna dignissim. Sed libero ante, hendrerit ut fringilla malesuada, suscipit quis turpis. Quisque vitae euismod ex. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nulla felis tortor, ullamcorper vel ante vel, porttitor imperdiet libero. Suspendisse efficitur sagittis tellus pharetra tempus egestas.</p>
    <a>link 1</a>
    <a>link 2</a>
</div>

<div class="img_span">
    <img src="static/images/portrait_resized.jpg" alt="Jackie Zhen's Portrait">
</div>
-->

</br></br></br>
<div class="wrapper_div">
    <div class="text_div">
        <h2 class="bio_title">Jackie Zhen: <br><span style="color: black">Software Engineer<span></h2>
        <p class="bio_content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis et consectetur quam, in luctus felis. Vivamus sed nisl eros. Morbi tincidunt dignissim congue. Quisque tincidunt sem nec nibh luctus, vitae porta enim sodales. Maecenas ac malesuada erat. Praesent eleifend euismod elit, ut tincidunt libero rhoncus vel. Pellentesque ut fermentum risus. Praesent sodales magna vitae tellus tristique, sit amet porta magna dignissim. Sed libero ante, hendrerit ut fringilla malesuada, suscipit quis turpis. Quisque vitae euismod ex. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nulla felis tortor, ullamcorper vel ante vel, porttitor imperdiet libero. Suspendisse efficitur sagittis tellus pharetra tempus egestas.</p>

        <div class="links">
            <a class="bio_links">blog</a><br>
            <a class="bio_links">portfolio</a>
        </div>
    </div>
    <br><br>
    
    <div class="image_div">
        <img src="static/images/portrait_resized.jpg" alt="Jackie Zhen's Portrait" class="portrait" width="40%" height="40%">
    </div>

    
</div>
<div class="contact_div">
    <a>Email</a>
    <a href="https://www.linkedin.com/in/jackie-zhen-160a811a7/">Linkedin</a>
    <a href="https://github.com/MicroOptimization">Github</a>
    <a href="https://mobile.twitter.com/jackie_zhen">Twitter</a>
</div>

<div class="email_div">
    <label>test.email@gmail.com</label>
</div>
<br>

{% endblock %}
